@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anton&family=Bebas+Neue&family=Luckiest+Guy&family=Roboto&family=Titillium+Web&display=swap');


.shoeContainer {
    width: 220px;
    height: auto;
    /* background-color: antiquewhite; */
    border: 1px solid #8a898d;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 3px;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.shoeUpperPart {
    width: 100%;
    height: auto;
    /* padding: 10px; */
    position: relative;
}

.shoeImg {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shoeImg img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.shoeHeartIconContainer {
    width: 25px;
    height: 25px;
    border: 1px solid #8a898d;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition: all 0.1s linear;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shoeHeartIconContainer .shoeHeartIcon {
    transition: all 0.1s linear;
    color: #c6c5cb;
}

.shoeHeartIconContainer .shoeHeartIcon:hover {
    color: #f40785;
}

.shoeHeartIconContainer:active {
    background-color: #f43fa026;
    border: 1px solid #f43fa026;
}

.shoeHeartIconContainer:active .shoeHeartIcon {
    color: #f40785;
    background-color: transparent;
}

.shoeLowerPart {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shoeAbout {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.shoeDesc {
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.7rem;
    font-weight: 100;
    color: #8a898d;
    margin-top: 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.shoeTitle {
    width: 100%;
    font-size: 1rem;
    font-weight: bolder;
    font-family: 'Titillium Web', sans-serif;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.shoePrice {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    color: #0014FF;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoePrice span:nth-of-type(2) {
    width: 30px;
    height: 30px;
    border: 1px solid #8a898d;
    border-radius: 3px;
    color: #a6a5a9;
    cursor: pointer;
    transition: all 0.1s linear;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shoePrice span:nth-of-type(2):hover {
    color: #0014FF;
}

.shoePrice span:nth-of-type(2):active {
    background-color: #0014FF;
    color: white;
    border: 1px solid #0014FF;
}

.shoePrice .shoePriceIcon {
    width: auto;
    height: auto;
}