@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anton&family=Bebas+Neue&family=Fjalla+One&family=Luckiest+Guy&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:ital,wght@0,400;0,700;0,900;1,600&display=swap');


.topbrandsContainer {
    width: 100%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.topbrandsContainer h3 {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.topbrandsContainer .shoeBrands {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;

    overflow-x: scroll;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.topbrandsContainer .shoeBrands::-webkit-scrollbar {
    height: 5px;
}

.topbrandsContainer .shoeBrands::-webkit-scrollbar-track {
    background-color: #DDDDDD;
    border-radius: 3rem;
}

.topbrandsContainer .shoeBrands::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #777575;
    border-radius: 3rem;
    cursor: pointer;
}

.topbrandsContainer .shoeBrands div {
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
    background-color: black;
    position: relative;
    transition: all 0.08s linear;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topbrandsContainer .shoeBrands div .brandName {
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 160px;
    display: inline-block;
    transform: scale(0);
    font-family: 'Fjalla One', sans-serif;
}

.topbrandsContainer .shoeBrands div img {
    width: 220px;
    height: 350px;
    margin: 0;
    object-fit: cover;
    margin-bottom: 0;
    display: block;
    transition: all 0.08s linear;
}

.topbrandsContainer .shoeBrands div:hover {
    transform: scale(1.05);
}

.topbrandsContainer .shoeBrands div:hover img:hover {
    opacity: 0.5;
}

.topbrandsContainer .shoeBrands div:hover .brandName {
    transform: scale(1.1);
    animation-name: showBrandName;
    animation-timing-function: linear;
    animation-duration: 0.08s;
    animation-fill-mode: both;
}

@keyframes showBrandName {

    0% {
        transform: scale(0);
    }

    100% {

        transform: scale(1.1);
    }
}