@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anton&family=Bebas+Neue&family=Luckiest+Guy&family=Roboto&family=Titillium+Web&display=swap');





.recordBoxContainer {
    width: 420px;
    height: auto;
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;

    position: absolute;
    top: 40px;
    right: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.recordBoxUpper {
    width: 100%;
    height: 50px;
    /* background-color: darkgoldenrod; */
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.recordBoxMiddle {
    width: 100%;
    min-height: 100px;
    /* background-color: darkcyan; */
    font-family: 'Titillium Web', sans-serif;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.recordBoxMiddle .item {
    width: 100%;
    height: 80px;
    /* background-color: darkkhaki; */
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr 3fr 6fr 4fr;
    justify-items: center;
    align-items: center;
}


.recordBoxMiddle .item .checkBox {
    height: 16px;
    width: 16px;
}

.recordBoxMiddle .item .itemImg {
    width: 90px;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
}

.recordBoxMiddle .item .itemImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recordBoxMiddle .itemAbout {
    width: 150px;
    height: 70px;
    /* background-color: darkseagreen; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.recordBoxMiddle .itemAbout .itemTitle {
    width: 100%;
    height: auto;
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: 'Titillium Web', sans-serif;
    line-height: 18px;
}

.recordBoxMiddle .itemAbout .itemCount {
    width: auto;
    height: 20px;
    /* background-color: white; */
    border: 1px solid black;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.itemCount button {
    width: 20px;
    height: 20px;
    font-size: 1rem;
    border: 1px solid black;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCount .count {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.recordBoxMiddle .itemPrice {
    align-self: flex-start;
    justify-self: flex-end;
    margin-top: 5px;
    font-size: 1.3rem;
    font-weight: 900;
}


.recordBoxLower {
    width: 100%;
    height: auto;
    font-family: 'Titillium Web', sans-serif;
    border-top: 1px solid gray;
    padding-top: 15px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recordBoxLower .billUP {
    width: 100%;
    height: auto;
    margin-bottom: 5px;

    height: auto;
    display: flex;
    justify-content: space-between;
}

.recordBoxLower .billUP span {
    font-size: 0.7em;
    font-weight: 500;
}

.recordBoxLower .billDown {
    width: 100%;
    height: auto;

    height: auto;
    display: flex;
    justify-content: space-between;
}

.recordBoxLower .billDown span {
    font-size: 1.2rem;
    font-weight: 900;
}

.checkout {
    width: 100%;
    height: auto;
}

.checkout button {
    width: 100%;
    height: 50px;
    color: white;
    background-color: #0014FF;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}