.navContainer {
    width: 100%;
    min-height: 12vh;
    padding: 5px;
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    
    position: sticky;
    top: 0;
    z-index: 1;

    display: grid;
    grid-template-columns: 30% 45% 25%;
}

.leftPart {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.leftPart .navLogoImg {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.leftPart .navLogoImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.leftPart .userSearch {
    width: auto;
    height: auto;
    position: relative;
}

.leftPart #user_search {
    width: 250px;
    height: 6vh;
    border-radius: 3rem;
    border: 1px solid grey;
    padding-left: 35px;
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.leftPart #user_search:focus{
    outline: none;
}

.searchIcon {
    font-size: 18px;
    position: absolute;
    left: 10px;
    top: 7px;
    color: grey;
}

.middle {
    width: 100%;
    height: 100%;
    padding-left: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.middle ul {
    width: 100%;
    height: 100%;
    list-style-type: none;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.middle ul li {
    width: auto;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1px solid grey;
    font-size: 1rem;
    cursor: pointer;
}

.middle ul li:last-child {
    border-right: none;
}

.middle #products {
    width: auto;
    padding-right: 5px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    border: none;
}

.right {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.right ul {
    width: auto;
    height: 100%;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.right ul li {
    width: auto;
    height: auto;
    padding-right: 20px;
    font-size: 23px;
    position: relative;
    cursor: pointer;
}

.right ul li:last-child {
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px solid grey;
}

.right .navProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid grey;
    object-fit: contain;
}

.right .navProfileImg img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Count {
    min-width: 16px;
    min-height: 16px;
    padding: 1px;
    color: white;
    background-color: red;
    position: absolute;
    top: -8px;
    left: 13px;
    border-radius: 50%;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}