.item {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: grid;
    grid-template-columns: 1fr 3fr 6fr 4fr;
    justify-items: center;
    align-items: center;
}


.item .cartItemRemove {
    height: auto;
    width: auto;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 2px;
    color: #b5b4b4;
    cursor: pointer;


    display: flex;
    justify-content: center;
    align-items: center;
}

.item .cartItemRemove:hover {
    background-color: #f6f2f2;
}

.item .cartItemRemove:active {
    background-color: #e0dddd;
    color: #918d8d;
}

.item .itemImg {
    width: 90px;
    height: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

.item .itemImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.itemAbout {
    width: 150px;
    height: 80px;
    /* background-color: darkseagreen; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.itemAbout .itemTitle {
    width: 100%;
    height: auto;
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: 'Titillium Web', sans-serif;
    line-height: 18px;
    overflow-y: scroll;
}

.itemAbout .itemTitle:hover {
    text-decoration: underline;
    transform: scale(1.01);
}

.itemAbout .itemTitle::-webkit-scrollbar {
    width: 0em;
    background-color: #F5F5F5;
}

.itemAbout .itemTitle::-webkit-scrollbar-thumb {
    background-color: #B2B2B2;
}

.itemAbout .itemTitle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.itemAbout .itemCount {
    width: auto;
    height: 20px;
    /* background-color: white; */
    border: 1px solid black;
    margin-top: 8px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.itemCount button {
    width: 20px;
    height: 20px;
    font-size: 1rem;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCount .count {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.itemPrice {
    align-self: flex-start;
    justify-self: flex-end;
    margin-right: 2px;
    font-size: 1.3rem;
    font-weight: 600;
}