.likedItem {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    display: grid;
    grid-template-columns: 1fr 3fr 6fr 4fr;
    justify-items: center;
    align-items: center;
}

.likedItem .likedItemRemove {
    width: auto;
    height: auto;
    border-radius: 50%;
    padding: 2px;
    color: #b5b4b4;
    cursor: pointer;
    /* background-color: aqua; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.likedItem .likedItemRemove:hover {
    background-color: #f6f2f2;
}

.likedItem .likedItemRemove:active {
    background-color: #e0dddd;
    color: #918d8d;
}

.likedItem .likedItemRemove .removeIcon {
    color: #b5b4b4;
    cursor: pointer;
}

.likedItem .likedItemRemove .removeIcon:active {
    color: #918d8d;
}

.likedItem .likedItemImg {
    width: 90px;
    height: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

.likedItem .likedItemImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.likedItemAbout {
    width: 150px;
    height: 80px;
    /* background-color: darkseagreen; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.likedItemAbout .likedItemTitle {
    width: 100%;
    height: auto;
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: 'Titillium Web', sans-serif;
    line-height: 18px;
    overflow-y: scroll;
}

.likedItemAbout .likedItemTitle:hover {
    text-decoration: underline;
    transform: scale(1.01);
}

.likedItemAbout .likedItemTitle::-webkit-scrollbar {
    width: 0em;
    background-color: #F5F5F5;
}

.likedItemAbout .likedItemTitle::-webkit-scrollbar-thumb {
    background-color: #B2B2B2;
}

.likedItemAbout .likedItemTitle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.likedItemPrice {
    align-self: flex-start;
    justify-self: flex-end;
    margin-right: 8px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #0014FF;
}