@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Anton&family=Bebas+Neue&family=Fjalla+One&family=Luckiest+Guy&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:ital,wght@0,400;0,700;0,900;1,600&display=swap');


.checkoutPageContainer {
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;

    display: grid;
    grid-template-columns: 60% 40%;
}

.checkoutPageLeftSide {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.checkoutPageLeftSide .reviewAndShipping {
    width: 90%;
    height: auto;
    max-height: 460px;
    border: 1px solid #bdbdbd;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.checkoutPageLeftSide .reviewAndShipping .lowerPart {
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.checkoutPageLeftSide .reviewAndShipping .lowerPart::-webkit-scrollbar {
    width: 0.2rem;
    background-color: #F5F5F5;
}

.checkoutPageLeftSide .reviewAndShipping .lowerPart::-webkit-scrollbar-thumb {
    background-color: #757373;
}

.checkoutPageLeftSide .reviewAndShipping .lowerPart::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.checkoutPageLeftSide .reviewAndShipping h2 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #bdbdbd;


    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkoutPageLeftSide .reviewAndShipping .checkoutPageItem {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewAndShipping .checkoutPageItem .itemImg {
    width: 150px;
    height: 150px;
}

.reviewAndShipping .checkoutPageItem .itemImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.reviewAndShipping .checkoutPageItem .itemInfo {
    width: 45%;
    height: 150px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.reviewAndShipping .checkoutPageItem .itemInfo .itemTitle {
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.reviewAndShipping .checkoutPageItem .itemInfo .itemDesc {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.reviewAndShipping .checkoutPageItem .itemInfo .itemQty {
    width: auto;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 20px;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkoutPageItem .itemInfo .itemQty .itemQtyButtons {
    width: auto;
    height: auto;
    margin-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkoutPageItem .itemInfo .itemQty .itemQtyButtons button {
    width: 25px;
    height: auto;
    cursor: pointer;
    font-size: 0.7rem;
    border: none;
    border-radius: 2px;
    background-color: rgb(236, 233, 233);
    margin-top: 1px;
    margin-bottom: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewAndShipping .checkoutPageItem .itemPricingInfo {
    width: 27%;
    height: 150px;
    padding-bottom: 22px;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.reviewAndShipping .checkoutPageItem .removeItem {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    border-radius: 50%;
    background-color: white;
    color: #bdbdbd;
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform 0.1s;
}

.reviewAndShipping .checkoutPageItem .removeItem:hover {
    background-color: #f6f2f2;
}

.reviewAndShipping .checkoutPageItem .removeItem:active {
    transform: scale(0.9);
    background-color: #e0dddd;
    color: #918d8d;
}

/* -------------------------------------------------------------------------------------- */

.deliveryInformation {
    width: 90%;
    height: auto;
    border: 1px solid #bdbdbd;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.deliveryInformation h2 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 700;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.deliveryInformation .customerName,
.customerId,
.city {
    width: 100%;
    height: auto;
    margin-bottom: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.deliveryInformation .customerInfo {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.deliveryInformation .address {
    width: 100%;
    height: auto;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.customerInfo label {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}

.customerInfo input {
    width: 100%;
    height: 2.5rem;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}

.customerInfo input:focus {
    outline: none;
}

/* ------------------------------------------------------------------------------------ */

.checkoutPageRightSide {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.checkoutPageRightSide .orderSummary {
    width: 90%;
    min-height: auto;
    border: 1px solid #bdbdbd;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.orderSummary h2 {
    width: 100%;
    height: auto;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.orderSummary .couponCode {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;

    display: flex;
    justify-content: center;
    align-items: center;
}

.orderSummary .couponCode input {
    width: 100%;
    height: 2.7rem;
    padding: 5px;
    padding-left: 20px;
    padding-right: 220px;
    font-size: 1.05rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    background-color: #e8e8e8a1;
}

.couponCode input:focus {
    outline: none;
}

.couponCode button {
    width: 200px;
    height: 2.5rem;
    padding-inline-start: 5px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #0014FF;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    transition: transform 0.1s;

    position: absolute;
    right: 2px;
}

.couponCode button:active {
    transform: scale(0.98);
}

.paymentDetails {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.paymentDetails h4 {
    width: 100%;
    height: auto;
    font-size: 1.3rem;
    padding-bottom: 15px;
    border-bottom: 1px solid #bdbdbd;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paymentDetails .paymentMethods {
    width: 100%;
    height: auto;
    padding-top: 15px;
}

.paymentMethods div {
    width: 100%;
    height: auto;
    margin-bottom: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paymentMethods div input {
    width: 15px;
    height: 15px;
    background-color: red;
    margin-right: 20px;
    cursor: pointer;
}

.paymentMethods div label {
    width: auto;
    height: auto;
    font-size: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    cursor: pointer;
}

.paymentMethods .cardImages {
    width: 100%;
    height: auto;
    margin-top: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.paymentMethods .cardImages img {
    width: 60px;
    height: 40px;
    margin-right: 5px;
}

.paymentMethods .cardImages img:nth-of-type(2),
img:nth-of-type(3) {
    width: 62px;
    border: 1px solid #bdbdbd;
    padding: 3px;
}

.cardDetails {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cardDetails div {
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cardDetails div label {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.cardDetails div input {
    width: 100%;
    height: 2.5rem;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
}

.cardDetails div input:focus {
    outline: none;
}

.cardDetails div:nth-last-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.cardDetails div:nth-last-child(1) .expiry {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cardDetails div:nth-last-child(1) .cvc {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.orderSummary .billingAmount {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.orderSummary .billingAmount div {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    font-size: 1.05rem;
    font-weight: 400;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderSummary .billingAmount div:nth-of-type(1) {
    font-weight: 500;
}

.orderSummary .billingAmount div:nth-last-child(1) {
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    border-top: 1px solid #bdbdbd;
}

.orderSummary .orderPay {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.orderSummary .orderPay .pay {
    width: 80%;
    height: 2.8rem;
    border: none;
    border-radius: 30px;
    background-color: #0014FF;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.1s;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.orderSummary .orderPay .pay:active {
    transform: scale(0.96);
}

.payModal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.payModal .modal {
    width: 35vw;
    height: 70vh;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    animation-name: show-modal;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-direction: alternate;
}

.payModal .modal .upperPart {
    width: 100%;
    height: 60%;
    border-radius: 1.5rem 1.5rem 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.payModal .modal .upperPart .modalIcon {
    width: auto;
    height: auto;
    font-size: 5rem;
    padding: 10px;
    background-color: white;
    color: #ADE792;
    border-radius: 50%;

    animation-name: show-modal;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-delay: 0.1s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.payModal .modal .upperPart .modalIcon .payIcon {
    border-radius: 50%;
    box-shadow: 0px 5px 50px #ade79286,
        0px -5px 50px #ade79286,
        5px 0px 50px #ade79286,
        -5px 0px 50px #ade79286;
}

.payModal .modal .lowerPart {
    width: 100%;
    height: 40%;
    font-family: 'Roboto', sans-serif;
    border-radius: 1.5rem;

    position: relative;
    bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.payModal .modal .lowerPart div {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.payModal .modal .lowerPart div:nth-of-type(1) {
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.payModal .modal .lowerPart div:nth-of-type(2) {
    font-size: 0.85rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.payModal .modal .lowerPart button {
    min-width: 40%;
    height: auto;
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 3rem;
    color: white;
    background-color: #FFB200;
    border: 1px solid #FFB200;
    transition: all 0.05s linear;
    cursor: pointer;
}

.payModal .modal .lowerPart button:active {
    transform: scale(0.95);
}

@keyframes show-modal {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.25);
    }

    50% {
        transform: scale(0.50);
    }

    75% {
        transform: scale(0.75);
    }

    100% {
        transform: scale(1);
    }
}